body {
  overflow-x: hidden;
}
.banner-container {
  position: relative;
}
.banner-image {
  width: 100vw;
  height: auto;
  opacity: 0.5;
}

.banner-container p {
  position: absolute;
  /* margin-top: 20px;
  margin-left: 20px;  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: normal 18px serif;
  opacity: .8;
  text-align: center;
}

#main {
  height: 50vh;
  width: 80vw;
}

.twitter-container {
  max-height: 50vh;
  overflow-y: scroll;
}

@media screen and (min-width: 786px) {
  .banner-container p {
    font: normal 56px serif;
    text-align: center;
  }
}
